{% extends "layout/layout.twig" %}

{% block css %}
	{% webpack_entry_css 'layout/datatables' %}
{% endblock %}

{% block js %}
	{% webpack_entry_js 'layout/datatables' %}
	{% webpack_entry_js 'web/lotDefects' %}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>
					<i class="fas fa-tools"></i>
					Lot Defect in Lot: 
					{{lot['lot_no']}}</h2>
				<button type="button" id="addDefectBt" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#defectLot" name="{{ lot|json_encode }}">
					<i style="font-size:15px; width:20px;" class="fas fa-plus fa-lg"></i>
					Add Lot Defect
				</button>
				<br>
				<br>
				<h5> Total quantity of lot defect: {{lot['qty_lot_defact']}}</h5>
				<hr>
				<table id="my-data-table" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed">
					<thead>
						<tr>
							{# <th>Lot No</th> #}
							<th>Defect Code</th>
							<th>Quantity</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						{% for lotDefect in lotDefects %}
							<tr>
								{# <td>{{ lotDefect.lot_no}}</td> #}
								<td>{{ lotDefect.defect_code}}</td>
								<td>{{ lotDefect.quantity}}</td>
								<td>
									<button type="button" id="editDefectBt" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editLotDefect" name="{{ lotDefect|json_encode }}">
										<i style="font-size:15px; width:20px;" class="fas fa-edit"></i>
									</button>
									<button type="button" id="deleteDefectBt" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteDefect" name="{{ lotDefect|json_encode }}">
										<i style="font-size:15px; width:20px;" class="fas fa-trash"></i>
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot></tfoot>
				</table>
				<form id="form-black" class="form-inline float-none" action="lots" method="get">
                  	<input type="hidden" id="searchProductID" name="search_product_id" value="{{search_product_id}}">
                	<input type="hidden" id="searchProductID" name="search_status" value="{{search_status}}">
					<button type="submit" class="btn btn-primary" id="black"><i class="fas fa-arrow-left"></i>Back</button>
				</form>
				<p></p>
			</div>
		</div>
	</div>

	<!--  Delete lot Defect -->
	<div class="modal fade" id="deleteDefect">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form
					id="form-deleteLot" action="delete_lot_defect" method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Delete Lot Defect?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-product">
							<input type="hidden" id="deleteLotDefectID" name="id">
							<input type="hidden" id="deleteDefectLotID" name="lot_id">
							<label for="lotNo">Do you want to delete Lot Defect:
								<span id="deleteDefectCode"></span>
								?</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger">Delete</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--edit-->
	<div class="modal fade" id="editLotDefect">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form
					id="form-defectLot" action="edit_lot_defect" method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Edit Lot Defect</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-product">
							<input type="hidden" id="lotDefectID" name="id">
							<input type="hidden" id="editdefectLotID" name="lot_id">
						</div>
						<div class="form-product">
							<label for="email">Defect Code</label>
							<select class="selectpicker form-control" id="editDefectId" name="defect_id" data-live-search="true">
								{% for d in defects %}
									<option value={{ d.id }}>{{d.defect_code}}
									</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-product">
							<label for="lotNo">Quantity</label>
							<input type="number" autocomplete="off" class="form-control" id="editQuantity" name="quantity" max="{{lot['quantity']}}" min="1" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--Add lotDefect-->
	<div class="modal fade" id="defectLot">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form
					id="form-defectLot" action="add_lot_defect" method="post">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Add Lot Defect</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-product">
							<input type="hidden" id="defectLotID" name="lot_id">
						</div>
						<div class="form-product">
							<label for="email">Defect Code</label>
							<select class="selectpicker form-control" id="defectID" name="defect_id" data-live-search="true">
								{% for d in defects %}
									<option value={{ d.id }}>{{d.defect_code}}
									</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-product">
							<label for="lotNo">Quantity</label>
							<input type="number" autocomplete="off" class="form-control" id="addQuantity" name="quantity" max="{{lot['quantity']}}" min="1" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Add</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
