{% extends "layout/layout.twig" %}

{% block css %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'web/reportMFGLot' %}
{% endblock %}

{% block title_all_page %}
  <title> Nihon Packing : Report </title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                  <div class="row">
                    <div class="col-12">
                        <div class="modal-content">
                            <form id="form-reportMFGLotForm" action="api/export_report_mfg_lot">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h2><i class="fas fa-poll"></i> Report Sell MFG Lot</h2>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="MFGLot-report">MFG Lot No</label>
                                                <input type="text" class="form-control" name="lot_no"></input>
                                            </div>
                                        </div> 
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="InvoiceLot-report">Invoice No</label>
                                                <input type="text" class="form-control" name="invoice_no"></input>
                                            </div>
                                        </div>
                                        {# dropdown customer name #}
                                        <div class="col-6">
                                            <label for="CustomerName-report">Customer Name</label>
                                            <select class="selectpicker form-control" id="CustomerName-report" name="customer_id"
                                                title="Please select Customer Name" data-live-search="true">
                                                    <option value="0">All Customer</option> 
                                                {% for customer in customers %}
                                                    <option value="{{ customer.id }}">{{ customer.customer_name }}</option>                                                  
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-1 pt-5 pl-5">
                                            <div class="row">
                                                <input class="form-check-input" type="checkbox" value="" id="dateCheck">
                                            </div>
                                            <div class="row">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                        Invoice Date
                                                </label>
                                            </div>
                                        </div>
                                        <div id="datePicker"class="pl-3 row d-none">
                                            <input type="hidden" class="check-date" value="" name="is_pick_date">
                                            <div class="form-group">
                                                <label for="searchIssueStartDate">From Date</label>
                                                <div class='input-group' id='datetimepickerFirstTime'>
                                                    <input size="10%" type="text" autocomplete="off" class="form-control" id="searchIssueStartDate" name="startDate" value="{{startDate}}">
                                                    {# <input type='text' class="form-control" readonly="readonly" id="searchIssueStartDate"
                                                            name="from_date" style="background-color: inherit"
                                                            placeholder="input first time" value="{{ startDate }}"> #}
                                                        <span class="input-group-append">
                                                            <span class="input-group-text">
                                                                <span class="far fa-calendar-alt"></span>
                                                            </span>
                                                        </span>&nbsp;&nbsp;To&nbsp;&nbsp;
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="searchIssueEndDate">To Date</label>
                                                <div class='input-group' id='datetimepickerLastTime'>
                                                    <input size="10%" type="text" autocomplete="off" class="form-control" id="searchIssueEndDate" name="endDate" value="{{endDate}}">
                                                    {# <input type='text' class="form-control" readonly="readonly" id="searchIssueEndDate"
                                                            name="to_date" style="background-color: inherit" placeholder="End Date"
                                                            value="{{ endDate }}"> #}
                                                        <span class="input-group-append">
                                                            <span class="input-group-text">
                                                                <span class="far fa-calendar-alt"></span>
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary">Generate Excel</button>
                                        </div>
                                    </div>
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}